{% extends 'template.html.twig' %}

{% block title %}Notes{% endblock %}



{% block pageTitle %}Liste of notes{% endblock %}
{% block pageContent %}
{{include('fragments/dateJour.html.twig')}}
Mon URL absolue est : {{ url('app_tab')}}
<table class="table">
{% for note in notes %}
    <tr>
        <td>{{note}}</td>
    </tr>
{% endfor %}

</table>
<div class="alert alert-info"> le nombre des eleves {{ notes | length }} </div>
<div class="alert alert-info"> la note maximale {{ max(notes) }} </div>
<div class="alert alert-info"> la note minimale {{ min(notes) }} </div>
{% endblock %}