{% extends 'template.html.twig' %}

{% block title %}All users{% endblock %}



{% block pageTitle %}Liste of users{% endblock %}
{% block pageContent %}
{{include('fragments/dateJour.html.twig')}}

<div class="alert alert-success">
    <a href="{{ path('app_tab' , {nb:7})}}"> states table</a>
</div>
<table class="table">
    <tr class="table-active">
    <td>firstname</td>
    <td>name</td>
    <td>message</td>
    <td>age</td>
    </tr>
{% for user in users %}
    <tr class="table-{% if loop.index is odd %}danger {% else %}warning {% endif %}">
        <td>{{user.firstname}} {{ loop.index}}</td>
        <td>{{user.name}}</td>
        <td>
        {{ render(controller('App\\Controller\\TabController::sayHello',{firstname:user.firstname,name:user.name})) }}
        </td>
        <td>{{user.age}}</td>
    </tr>
{% endfor %}

</table>

{% endblock %}