{% extends 'template.html.twig' %}

{% block title %}Tableau{% endblock %}



{% block pageTitle %}Listes des todos{% endblock %}
{% block pageContent %}
{{include('fragments/dateJour.html.twig')}}
<div>
    <ol>
    {% for item,content in app.session.get('todos') %}
    <li>{{item}} : {{content}}</li>
    {% endfor %}
    </ol>
</div>

<div>
    <ol>
    {% for item,content in app.session.get('todos') %}
    <li>{{item}} : {{content}}</li>
    {% endfor %}
    </ol>
</div>
<div>
    <ol>
    {% for item,content in app.session.get('todos') %}
    <li>{{item}} : {{content}}</li>
    {% endfor %}
    </ol>
</div>

<div>
    <ol>
    {% for item,content in app.session.get('todos') %}
    <li>{{item}} : {{content}}</li>
    {% endfor %}
    </ol>
</div>

<div>
    <ol>
    {% for item,content in app.session.get('todos') %}
    <li>{{item}} : {{content}}</li>
    {% endfor %}
    </ol>
</div>

<div>
    <ol>
    {% for item,content in app.session.get('todos') %}
    <li>{{item}} : {{content}}</li>
    {% endfor %}
    </ol>
</div>

<div>
    <ol>
    {% for item,content in app.session.get('todos') %}
    <li>{{item}} : {{content}}</li>
    {% endfor %}
    </ol>
</div>
{% endblock %}